<!-- app/views/sessions/new.html.erb -->
<div class="container-custom">
  <div class="left-panel"><%= image_tag "logo.png", size: "300x300", alt: "Logo Pet Manager", class: "logo-image" %></div>
  <div class="right-panel">
    <div class="login-box">
      <h2>Olá!</h2>
      <p>Logue para entrar no sistema</p>

      <%= form_for :session, url: login_path, method: :post, html: { class: "login-form" } do |form| %>
        <div class="input-group">
          <%= form.email_field :email, placeholder: "Email" %>
        </div>
        <div class="input-group">
          <%= form.password_field :password, placeholder: "Senha" %>
        </div>
        <%= form.submit "Logar", class: "btn-login" %>
      <% end %>

      <%= link_to "Esqueci minha senha", new_password_reset_path, class: 'forgot-link' %><br />
      Não tem uma conta? <strong><%= link_to "Cadastre-se agora!", users_new_path, class: "register-link" %></strong>
    </div>
  </div>
</div>
