<div class="d-flex flex-fill">
  <div class="left-panel"><%= image_tag "logo.png", size: "300x300", alt: "Logo Pet Manager", class: "logo-image" %></div>
  <div class="right-panel">
    <div class="login-box m-5">
      <h2>Troque sua senha</h2>
      <p>Coloque qual seu email para recuperar a senha</p>

      <%= form_for :password_reset, url: password_resets_path, method: :post, html: { class: "login-form" } do |form| %>
        <div class="input-group">
          <%= form.email_field :email, placeholder: "Email",
                                autocomplete: :email,
                                autocorrect: "email",
                                autocapitalize: "none" %>
        </div>
        <%= form.submit "Trocar senha", class: "btn-login" %>
      <% end %>
      <br />
      Já tem uma conta? <%= link_to "Logar", login_path, class: 'register-link' %></a>
    </div>
  </div>
</div>
