<div id="<%= dom_id bath %>">
  <p>
    <strong>Pet:</strong>
    <%= bath.pet_id %>
  </p>

  <p>
    <strong>Data e Hora:</strong>
    <%= bath.date %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= bath.price %>
  </p>

  <p>
    <strong>Observações:</strong>
    <%= bath.notes %>
  </p>

</div>
