<header class="align-items-center border-bottom" id="pet-manager-header">
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pet Manager</a>
      <% if logged_in? %>
        <ul class="navbar-nav me-auto flex-row">
          <li class="nav-item me-2">
            <%= link_to "Dashboard", user_path(current_user), class: "nav-link #{'active' if current_page?(user_path(current_user))}" %>
          </li>
          <li class="nav-item me-2">
            <%= link_to "Gastos", expenses_path, class: "nav-link #{'active' if current_page?(expenses_path)}" %>
          </li>
          <li class="nav-item me-2">
            <%= link_to "Pets desativados", inactive_pets_path, class: "nav-link #{'active' if current_page?(inactive_pets_path)}" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav flex-row flex-fill justify-content-evenly">
          <li class="nav-item"><%= link_to "Sobre", about_path, class: "nav-link #{'active' if current_page?(about_path)}" %></li>
          <li class="nav-item"><%= link_to "Funcionalidades", features_path, class: "nav-link #{'active' if current_page?(features_path)}" %></li>
          <li class="nav-item"><%= link_to "Contato", contact_path, class: "nav-link #{'active' if current_page?(contact_path)}" %></li>
        </ul>
      <% end %>
      <div class="flex-row justify-content-evenly">
        <% if logged_in? %>
          <% if current_page?(root_path) %>
            <%= link_to "Dashboard", user_path(@current_user), class: 'btn btn-primary-custom' %>
          <% end %>
          <%= link_to "Sair", logout_path, data: { turbo_method: :delete }, class: 'btn btn-outline-danger' %>
        <% else %>
          <a href="/login" class="btn btn-outline-secondary">Login</a>
          <a href="/register" class="btn btn-primary-custom">Cadastre-se</a>
        <% end %>
      </div>
    </div>
  </nav>
</header>